<div data-bind="foreach: watches">
    <div data-bind="component: { name: 'stopwatch' }"></div>
</div>
<button data-bind="button: { label: 'Add', icons: { primary: ' ui-icon-plusthick' } }, click: addWatch"></button>
